<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>me.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userBean</servlet-name>
        <servlet-class>me.userBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDB</servlet-name>
        <servlet-class>me.UserDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerLogin</servlet-name>
        <servlet-class>me.SerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerUserDB</servlet-name>
        <servlet-class>me.SerUserDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerUserBean</servlet-name>
        <servlet-class>me.SerUserBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarDetailsClient</servlet-name>
        <servlet-class>me.CarDetailsClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookRide</servlet-name>
        <servlet-class>me.BookRide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookRideModify</servlet-name>
        <servlet-class>me.BookRideModify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerCarDet</servlet-name>
        <servlet-class>me.SerCarDet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerCarData</servlet-name>
        <servlet-class>me.SerCarData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerCarBean</servlet-name>
        <servlet-class>me.SerCarBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarDataAdd</servlet-name>
        <servlet-class>me.CarDataAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarDetailsAdmin</servlet-name>
        <servlet-class>me.CarDetailsAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RouteAddServlet</servlet-name>
        <servlet-class>me.RouteAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>me.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>me.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userBean</servlet-name>
        <url-pattern>/userBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDB</servlet-name>
        <url-pattern>/UserDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerLogin</servlet-name>
        <url-pattern>/SerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerUserDB</servlet-name>
        <url-pattern>/SerUserDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerUserBean</servlet-name>
        <url-pattern>/SerUserBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarDetailsClient</servlet-name>
        <url-pattern>/CarDetailsClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookRide</servlet-name>
        <url-pattern>/BookRide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookRideModify</servlet-name>
        <url-pattern>/BookRideModify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerCarDet</servlet-name>
        <url-pattern>/SerCarDet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerCarData</servlet-name>
        <url-pattern>/SerCarData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerCarBean</servlet-name>
        <url-pattern>/SerCarBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarDataAdd</servlet-name>
        <url-pattern>/CarDataAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarDetailsAdmin</servlet-name>
        <url-pattern>/CarDetailsAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RouteAddServlet</servlet-name>
        <url-pattern>/RouteAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
